// PROJECT FOUNDATIONS
@import "./foundations/colors.scss";
@import "./foundations/fonts.scss";
@import "./foundations/mixins.scss";

// PROJECT STYLESHEETS
@import "./stylesheets/heroSection.scss";
@import "./stylesheets/formSection.scss";
@import "./stylesheets/resultsSection.scss";

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
  margin: 0;
}

h1 {
  margin: 0;
}

select {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  width: 219px;
  padding: 8px 0 10px 16px;
  background-color: transparent;
  border-radius: 19px;
  border-color: var(--gray-variation);
  color: var(--gray-variation);
}

select option {
  background-color: transparent;
  border: none;
}

select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.loadingSpinner {
  margin: 32px 0;
}