.resultsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-variation);
  color: var(--disabled);
  height: 100%;

  &__container {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    @include respond-to("lg") {
      padding: 0 27px;
    }

    &__noResults {
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: flex-start;

      @include respond-to("md") {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 16px 0 16px 0;
      }

      &__textContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 60px 110px 60px 0;

        @include respond-to("md") {
          margin: 0 0 37px 0;
        }

        &-title {
          font-size: 45px;
          font-weight: 700;
          line-height: 55px;
          margin: 6px 0;
        }

        &-description {
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          width: 219px;
          text-align: justify;

          @include respond-to("md") {
            width: 359px;
          }

          @include respond-to("sm") {
            width: 100%;
          }
        }
      }

      &__imgContainer {
        width: 104.7px;
        margin-left: 110px;

        @include respond-to("md") {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 0;
          width: 100%;
        }
      }
    }

    &__foundResults {
      margin: 37px 0 53px 0;
      display: flex;
      flex-direction: column;
      width: 100%;

      &__heading {
        display: inherit;
        flex-direction: inherit;

        &-image {
          width: 158px;
        }

        &-title {
          font-weight: bold;
          font-size: 55px;
          line-height: 67px;
          margin: 5px 0 30px 0;
          color: var(--dark);

          @include respond-to("sm") {
            font-size: 40px;
            line-height: 49px;
            margin: 5px 0 16px 0;
          }
        }
      }

      &__resultsContainer {
        display: grid;
        grid-template-columns: repeat(4, 206px);
        column-gap: 25px;
        row-gap: 20px;

        @include respond-to("lg") {
          grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("md") {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }

        @include respond-to("sm") {
          padding: 20px 20px 20px 0;
          display: flex;
          overflow-x: scroll;
          overflow-y: hidden;
          width: 90vw;
          white-space: nowrap;
        }

        &__button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
          width: 99.8%;
          background-color: transparent;
          border-radius: 25px;
          border: 1px solid var(--button);
          margin-top: 50px;
          text-decoration: none;

          @include respond-to("md") {
            margin-top: 30px;
          }

          &-image {
            margin-right: 17px;
          }

          &-text {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: var(--button);
            transition: all 0.3s;
          }
        }

        &__button:hover {
          background-color: var(--button);

          p {
            color: var(--white);
            font-weight: 500;
          }
        }
      }
    }
  }
}

.regular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: -webkit-fill-available;
  grid-column: span 1;
  grid-row: span 1;
  padding: 12px 20px;
  background-color: var(--white);
  color: var(--ascent);

  &__tag {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  @include respond-to("sm") {
    width: 85vw;
  }

  @include respond-to("xm") {
    width: 85%;
  }

  &__imageContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-image {
      width: -webkit-fill-available;

      @include respond-to("lg") {
        width: -webkit-fill-available;
        max-width: 300px;
        max-height: 300px;
        height: auto;
      }

      @include respond-to("sm") {
        min-width: 241px;
        width: 50%;
        height: 316px;
      }
    }
  }

  &-name {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
  }

  h3 {
    margin: 0;
  }

  &__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-price {
      @include respond-to("sm") {
        font-size: 16px;
      }
    }
  }
}

.favorite {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-column: span 2;
  grid-row: span 2;
  width: -webkit-fill-available;
  padding: 12px 20px;
  color: var(--ascent);
  background-color: var(--white);
  min-height: 470px;

  @include respond-to("md") {
    grid-column: auto;
    grid-row: auto;
    min-height: auto;
  }

  @include respond-to("sm") {
    width: 85%;
  }

  &__tag {
    box-shadow: 0px 10px 28px 0px #0000002e;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 43px;
    width: 189px;
    left: 0px;
    top: 31px;
    border-radius: 0 21.5px 21.5px 0;
    background-color: var(--green);

    &-text {
      color: var(--white);
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &-name {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    line-height: 37px;
    margin: 32px 0 12px 0;

    @include respond-to("md") {
      font-size: 16px;
      margin: 0;
    }
  }

  &__imageContainer {
    width: fit-content;

    &-image {
      @include respond-to("sm") {
        min-width: 241px;
        width: 50%;
        height: 316px;
        aspect-ratio: auto 150 / 150;
      }
    }
  }

  &__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-price {
      font-size: 24px;
      line-height: 28px;
      margin: 0;

      @include respond-to("sm") {
        font-size: 16px;
      }
    }

    &__icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 35%;

      img {
        transform: scale(1.6);

        @include respond-to("md") {
          transform: scale(1);
        }
      }
    }
  }
}
